
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.site-header{
  width: 50%;
  min-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px;
  margin-top: 15px;
  z-index: 1000; /* Ensure the header is above the map */
  background: black; /* Semi-transparent or other styling */
  border-radius: 800px
}

.center-element{
  display: flex;
  justify-content: center;
  
}

.map-class{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-bar {
  display: flex;
  border-radius: 70px; /* Adjust radius as needed */
  overflow: hidden; /* Ensures children don't overflow the rounded borders */

}

.search-bar .input-group-text,
.search-bar .form-control {
  border-radius: 80px;/* Removes individual border radius settings */
  background-color: rgb(255, 255, 255);
  
}

.search-bar .form-control:focus,
.search-bar .input-group-text:focus {
  outline: none !important; /* Removes the outline, !important may be necessary to override inline styles or specificity issues */
  box-shadow: none !important; /* Removes the glow effect */
}

.username-form {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 192, 203, 0.836);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1100; /*put box on top of map */
}

.username-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.username-form form {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
}
.username-form input[type="text"] {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  text-align: center;
}

.username-form form input[type='number'] {
  color: #464646b7; /* Adjust the color to your preference */
  text-align: center;
  width: 50px;
  margin-bottom: 10px;
}

.username-form button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff69b4; /* Pink color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.username-form button[type="submit"]:hover {
  background-color: #e64980; /* Lighter pink on hover */
}