
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.site-header{
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px;
  margin-top: 15px;
  z-index: 1000; /* Ensure the header is above the map */
  background: black; 
  border-radius: 800px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

/* Media query for when the header becomes too narrow */
@media (max-width: 1230px) {
  .site-header .search-bar{
    width: 380px;
  }
  .site-header .logo {
    display: none; /* Hide the logo */
  }
  .site-header {
    justify-content: center; /* Center everything in the header */
    width: 400px;
  }
}

.center-element{
  display: flex;
  justify-content: center;
}

.map-class{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-bar {
  display: flex;
  border-radius: 70px; /* Adjust radius as needed */
  overflow: hidden; /* Ensures children don't overflow the rounded borders */

}

.search-bar .input-group-text,
.search-bar .form-control {
  border-radius: 80px;/* Removes individual border radius settings */
  background-color: rgb(255, 255, 255);
  
}

.search-bar .form-control:focus,
.search-bar .input-group-text:focus {
  outline: none !important; /* Removes the outline, !important may be necessary to override inline styles or specificity issues */
  box-shadow: none !important; /* Removes the glow effect */
}

.username-form {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 192, 203, 0.836);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1100; /*put box on top of map */
}

.username-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.username-form form {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
}
.username-form input[type="text"] {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  text-align: center;
}

.username-form form input[type='number'] {
  color: #464646b7; /* Adjust the color to your preference */
  text-align: center;
  width: 50px;
  margin-bottom: 10px;
}

.username-form button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff69b4; /* Pink color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.username-form button[type="submit"]:hover {
  background-color: #e64980; /* Lighter pink on hover */
}

.comment-class {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 192, 203, 1);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1100;
  
}



.comment-class .hide-comment-button{
  color: white;
  background-color: #2c2c2c;
  margin-top: 10px;
  padding: 5px 40px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease ;
}

.comment-class .hide-comment-button:hover {
  background-color: white;
  color:black;
}

.comment-class h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.comment-class form {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
}
.comment-class input[type="text"] {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  text-align: center;
}

.comment-class input[type='number'] {
  color: #464646b7; /* Adjust the color to your preference */
  text-align: center;
  width: 50px;
  margin-bottom: 10px;
}

.comment-class button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #ff69b4; /* Pink color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease ;
}

.comment-class button[type="submit"]:hover {
  background-color: white; /* Lighter pink on hover */
  color:black;
}

.chat-container {
  position: fixed;
  left: 50px; /* Initially visible */
  top: 50%;
  width: 400px;
  padding: 15px 15px;
  overflow-y: auto;
  background-color: black;
  border-radius: 40px;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

/* Media query for screens smaller than 600px */
@media (max-width: 1540px) {
  .chat-container {
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for the width of the container */
    top: 150px; /* Override the top position */
  }
}


.chat-container.hidden {
  opacity: 0; /* Fully transparent */
  transform: translateY(-100%); /* Move it up out of view */
  visibility: hidden; /* Remove from flow after animation */
}

.chat-container.visible {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Make visible */
}

.chat-container .chat-header{
  display: flex;
  height: 70px;
  justify-content: center;
  padding-bottom: 10px;
}

.chat-header .header-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 35px;
  font-family: "Modak";
  background-color: white;
  width: 350px;
  border-radius: 40px;
  padding: 5px 15px 0px 15px;
}

.chat-header .hide-chat-button{
  padding-top: 5px;
  transition: color 200ms ease-in-out;
}

.chat-header .hide-chat-button:hover{
  color: #ff7798 ;
}

.show-chat-button {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: none;
  border-radius: 80px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 10px 15px;
  transition: color .2s ease-in-out; /* Add transition for smooth effect */
  background-color: black;
}



.show-chat-button:hover {
  color: #ff7798; /* Visual feedback on hover */
}

.chat-container .chat-box{
 
  color: black; 
  border-radius: 20px; 
  padding: 10px; 
  margin-bottom: 10px; 
  height: 475px; 
  overflow-y: auto; 
  scrollbar-width: thin; 
  scrollbar-color: #ff7798 #2c2c2c; 
}

.chat-box .user-name{
  font-size: 15px;
  text-decoration: underline;
}

.chat-box .chat-content{
  font-size: 20px;
}


.chat-box .time-stamp{
  font-size: 10px;
}


.chat-box li {
  background-color: #2c2c2c; 
  color: white; 
  border-radius: 20px; 
  padding: 5px 15px; 
  margin: 8px 0; 
  max-width: calc(100% - 40px); 
  word-wrap: break-word; /* Prevents long words from overflowing */
  box-sizing: border-box; /* Includes padding in width calculation */
}

/* Aligning user messages to the right */
.chat-box .user-message {
  margin-left: auto; /* Pushes the bubble to the right */
  background-color: #ff7798; /* Different background for user messages */
  color: black;
  
}

/* Styling the scrollbar itself */
.chat-box::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  background-color: #2c2c2c; /* Scrollbar background color */
  
}

/* Styling the draggable part of the scrollbar */
.chat-box::-webkit-scrollbar-thumb {
  background-color: #ff7798; /* Color of the thumb */
  
}

/* Optional: Style the track (part of the scrollbar not covered by the thumb) */
.chat-box::-webkit-scrollbar-track {
  background: #404040; /* Track color */
  
}

.input-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 padding: 0px 10px;
 
}

.input-container .input-field{
  width: 300px;
  min-height: 150px;
  max-height: 150px;
  border-radius: 20px;
  padding: 10px 10px;
}

.input-container .send-button{
  background-color: white;
  border-radius: 80px;
  height: 40px;
  width: 40px;
  transition: background-color 200ms ease-in-out;
}

.input-container .send-button:hover{
  background-color: #ff7798;
}





/*CRIME BOX STYLES*/

.crime-container {
  position: fixed;
  right: 50px; /* Positioned on the right side */
  top: 50%;
  width: 400px;
  padding: 15px 15px;
  overflow-y: auto;
  background-color: black;
  border-radius: 40px;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.crime-container .crime-box{
 
  color: black; 
  border-radius: 20px; 
  padding: 10px; 
  margin-bottom: 10px; 
  height: 625px; 
  overflow-y: auto; 
  scrollbar-width: thin; 
  scrollbar-color: #ff7798 #2c2c2c; 
}

.chat-container .crime-header{
  display: flex;
  height: 70px;
  justify-content: center;
  padding-bottom: 10px;
}

.crime-header .header-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 35px;
  font-family: "Modak";
  background-color: white;
  width: 350px;
  border-radius: 40px;
  padding: 5px 15px 0px 15px;
}

.crime-header .hide-chat-button{
  padding-top: 5px;
  transition: color 200ms ease-in-out;
}

.crime-header .hide-chat-button:hover{
  color: #ff7798 ;
}

/* Media query for screens smaller than 1540px */
@media (max-width: 1540px) {
  .crime-container {
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    top: 150px;
  }
 
}

.crime-container.hidden {
  opacity: 0; /* Fully transparent */
  transform: translateY(-100%); /* Move it up out of view */
  visibility: hidden; /* Remove from flow after animation */
}

.crime-container.visible {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Make visible */
}

.crime-container .chat-header{
  display: flex;
  height: 70px;
  justify-content: center;
  padding-bottom: 10px;
}

.crime-header .header-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 35px;
  font-family: "Modak";
  background-color: white;
  width: 350px;
  border-radius: 40px;
  padding: 5px 15px 0px 15px;
}

.crime-header .hide-chat-button{
  padding-top: 5px;
  transition: color 200ms ease-in-out;
}

.crime-header .hide-crime-button:hover{
  color: #ff7798 ;
}

.show-crime-button {
  position: fixed;
  left: 20px;
  bottom: 100px;
  background: none;
  border-radius: 80px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 10px 15px;
  transition: color .2s ease-in-out; /* Add transition for smooth effect */
  background-color: black;
}

.show-crime-button:hover {
  color: #ff7798; /* Visual feedback on hover */
}
